h4 {
    color: #cccccc;
    padding-left: 20px;
}

.add-emblem::before {
    content: "";
    display: inline-block;
    margin-right: 8px;
    width: 150px;
    height: 50px;
    vertical-align: middle;
    background-image: url('../img/emblem.png');
    background-repeat: no-repeat;
}

.distribution-title {
    text-align: center;
}

th {
    text-align: center;
}

.table-title {
    text-align: center;
}

.wall-color {
    width: 200px;
    height: 300px;
}

.table-header {
    background-color: lightgray;
}