{% extends "base.html" %} {% block content %}
<h2 class="works-log-title">Works log</h2>

{% for job in jobs %}
<h3>Action # {{ loop.index }}</h3>
<table class="works-log-table">
  <tr class="header-row">
    <th>Title of activity</th>
    <th>Team leader</th>
    <th class="text-center">Duration</th>
    <th class="text-center">List of collaborators</th>
    <th class="text-center">Is finished</th>
  </tr>
  <tr class="body-row">
    <td>{{ job.title }}</td>
    <td>{{ job.leader }}</td>
    <td class="text-center">{{ job.duration }}</td>
    <td class="text-center">{{ job.collaborators | join(', ') }}</td>
    <td class="text-center {% if not job.is_finished %}not-finished{% endif %}">
      {% if job.is_finished %}Is finished{% else %}Is not finished{% endif %}
    </td>
  </tr>
</table>
{% endfor %} {% endblock %}
